.containerBackground {
    background-image: url('../../public/blue-background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: start;

    & .containerForm {
        background-color: black;
        color: rgb(81, 213, 247);
        width: 50em;
        margin-top: 10em;
        padding: 3em;
        border: 1px rgb(81, 213, 247) solid;
        border-radius: 4em;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        & .formTitle {
            font-size: 3em;
            margin-bottom: 1em;
        }

        & .formGroupNome {
            width: 100%;
            padding: 0.5em;
        }

        & .formGroupGenero {
            width: 50%;
            padding: 0.5em;
        
            & .optionsGenero {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
        
                margin-top: 0.5em;
        
                & .optionGenero {
                    width: 50%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        }

        & .formGroupDataNasc {
            width: 50%;
            padding: 0.5em;
        }
        
        & .formGroupTelefone {
            width: 100%;
            padding: 0.5em;
        }
        
        & .formGroupEmail {
            width: 100%;
            padding: 0.5em;
        }
        
        & .formGroupSenha {
            width: 50%;
            padding: 0.5em;
        }
        
        & .formGroupSenhaConf {
            width: 50%;
            padding: 0.5em;
        }
        
        & .formFieldLabel {
            display: block;
            font-size: 1.3em;
        }
        
        & .formField {
            height: 2.5em;
            width: 100%;
            padding: 1em;
        
            font-size: 1em;
        }

        & .formButton {
            background-color: black;
            border: 1px solid rgb(81, 213, 247);
            border-radius: 10em;
            color: rgb(81, 213, 247);
            height: 2.5em;
            width: 10em;
            margin-top: 2em;
            margin-bottom: 1em;
            margin-left: 30%;
            margin-right: 30%;
            cursor: pointer;
        }

        & .formButton:hover {
            color: #ffffff;
            transition: 1s;
            animation: alternate infinite 3s colorChange linear;
        }

        .linkSignup {
            color: #ffffff;
        }
    }
}

@keyframes colorChange {
    0% {
        background-color: rgb(0, 0, 0);
    }
    25% {
        background-color: rgb(0, 90, 112);
    }
    50% { 
        background-color: rgb(0, 40, 92);    
    }
    100% {
        background-color: rgb(0, 80, 133);
    }
}









